body {
    background-color: white;
}
.h1 {
    font-family: Helvetica;
    font-weight: bold;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}
.ldBar-label{
  font-size: 24px;
  font-family: monospace;
}
